
    
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Important!</h4>
        <p>This is an exercise for course 1dv508 Linné University - Computer Science. 
            This is <strong>not a real shop</strong>. Please, <strong>do not use real information</strong>
            and if you do, contact us to remove it from our database. 
        </p>
    </div>


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/iXmJ9aWblkGDpg-_jpcqaY10KmA8HthjZ7F15U7mJ9PQK6vZEStMlathz1FfQQWV5XeeF-A1tZ0UpDjx3q6vEm2BWZn5k1btVSuBk9ad=s660" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Use your google account to login.</p>
        <button (click)=login(); class="btn btn-primary">Login with Google</button>
        </div>
  </div>
