
<h1>Team 1</h1>


  <ul class="list-group">
      <li class="list-group-item ">Scrum Master: Dustin Payne</li>
      <li class="list-group-item">Abdulla Subhi Mehdi</li>
      <li class="list-group-item ">Ahmad Anbarje</li>
      <li class="list-group-item ">Abdularahman Al Allaf</li>
      <li class="list-group-item ">Andrei Neagu</li>
      <li class="list-group-item ">Domagoj Trupeljak</li>
      <li class="list-group-item ">Einar van de Velde</li>
      <li class="list-group-item ">Helena Tevar Hernandez</li>
      <li class="list-group-item ">Maxim Makov</li>
      <li class="list-group-item ">Sarmed Almjamai</li>
    </ul>