# Test Report
## Overview
### Automated Tests
| No. | Description | Operating System | Date | Status |
|:---:|:---|:---|:---:|:---:|
| JUnit Test 1 | Integration | Windows | 2019-12-07 | :heavy_check_mark: |
| JUnit Test 2 | Response | Windows | 2019-12-07 | :heavy_check_mark: |
| JUnit Test 3 | View | Windows | 2019-12-07 | :x: |
| JUnit Test 4 | Grouped | Windows | 2019-12-07 | :heavy_check_mark: |
| Vulnerability Test 1 | Vulnerability Check | Windows | 2019-12-07 | :x: |


